.row{
    display: flex;
    /* border: 1px solid black; */
    padding: 5px;
}
.col-column{
    flex-direction: column;
}
.col{
    padding: 5px;
    margin: 5px;
}
.col-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.col-mid{
    display: flex;
    justify-content: center;
}
.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-center-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
.col-4{
    flex: 4;
}
.col-5{
    flex: 5;
}
.col-6{
    flex: 6;
    /* border: 1px solid black; */
}
.col-7{
    flex: 7;
}
.col-8{
    flex: 8;
}
.col-9{
    flex: 9;
}
.col-10{
    flex: 10;
}
.col-11{
    flex: 11;
}
.col-12{
    flex: 12;
}